@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto Regular V2.eot');
  src: url('fonts/Roboto Regular V2.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto Regular V2.woff2') format('woff2'),
    url('fonts/Roboto Regular V2.woff') format('woff'),
    url('fonts/Roboto Regular V2.ttf') format('truetype'),
    url('fonts/Roboto Regular V2.svg#Roboto Regular V2') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Roboto Italic V2.eot');
  src: url('fonts/Roboto Italic V2.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto Italic V2.woff2') format('woff2'),
    url('fonts/Roboto Italic V2.woff') format('woff'),
    url('fonts/Roboto Italic V2.ttf') format('truetype'),
    url('fonts/Roboto Italic V2.svg#Roboto Italic V2') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Roboto Bold V2.eot');
  src: url('fonts/Roboto Bold V2.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto Bold V2.woff2') format('woff2'),
    url('fonts/Roboto Bold V2.woff') format('woff'),
    url('fonts/Roboto Bold V2.ttf') format('truetype'),
    url('fonts/Roboto Bold V2.svg#Roboto Bold V2') format('svg');
}