
.bg-logo_secondary_reversed {
    width: 79px; height: 30px;
    background: url('css_sprites.png') -88px -165px;
}

.bg-icon_double_down {
    width: 64px; height: 64px;
    background: url('css_sprites.png') -253px -93px;
}

.bg-logo_primary_alt_white {
    width: 320px; height: 90px;
    background: url('css_sprites.png') -1px -1px;
}

.bg-logo_primary_reversed_sm {
    width: 250px; height: 70px;
    background: url('css_sprites.png') -1px -93px;
}

.bg-logo_secondary {
    width: 85px; height: 30px;
    background: url('css_sprites.png') -1px -165px;
}