.bg-vis_pen {
    width: 180px; height: 153px;
    background: url(image('def-sprite.png')) -1px -1px;
}

.bg-bef_aft {
    width: 180px; height: 155px;
    background: url(image('def-sprite.png')) -1px -467px;
}

.bg-benchmark {
    width: 180px; height: 154px;
    background: url(image('def-sprite.png')) -1px -311px;
}

.bg-ttzc {
    width: 180px; height: 153px;
    background: url(image('def-sprite.png')) -1px -156px;
}

.bg-vis_dem {
    width: 180px; height: 157px;
    background: url(image('def-sprite.png')) -1px -624px;
}