html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

html, body, ul, ol { margin: 0; padding: 0; }

html { box-sizing: border-box; font-family: sans-serif; font-size: 100%; -webkit-tap-highlight-color: transparent; -moz-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { box-sizing: inherit; font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue, Helvetica, -apple-system, BlinkMacSystemFont, BBAlpha Sans, "Segoe UI", Arial, "Noto Sans", sans-serif; font-size: 100%; line-height: 1.2; }

div { box-sizing: border-box; }

h1 { display: block; font-size: 2em; margin-top: .67em; margin-bottom: .67em; margin-left: 0; margin-right: 0; font-weight: 700; }

h2 { display: block; font-size: 1.5em; margin-top: .83em; margin-bottom: .83em; margin-left: 0; margin-right: 0; font-weight: 700; }

h3 { display: block; font-size: 1.17em; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; font-weight: 700; }

p { color: #111; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.2; margin: 0; }

button, select { text-transform: none; }

button, [type='button'], [type='reset'], [type='submit'] { -moz-appearance: button; -webkit-appearance: button; }

button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner { border-style: none; padding: 0; }

fieldset { padding: .35em .75em .625em; }

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { display: block; }

table { border-collapse: collapse; border-spacing: 0; }

img { border-style: none; }

textarea { overflow-x: auto; overflow-y: auto; vertical-align: top; }

b, strong { font-weight: bolder; }

select { -webkit-appearance: none; -moz-appearance: none; outline: none; overflow-x: hidden; overflow-y: hidden; text-indent: .01px; text-overflow: ''; }

select::-ms-expand { display: none; }

select[multiple='multiple'] { -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); color: inherit; }

select:not([multiple='multiple']) > option { font-size: .875em; }

[hidden] { display: none; }

.header { background-color: #333; color: #FF6B6B; left: 0; position: fixed; top: 0; vertical-align: middle; width: 100%; z-index: 99; }

.header:before, .header:after { content: ''; display: table; }

.header:after { clear: both; }

.header-logo { background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(153, 153, 153, 0.5)), url("https://picsum.photos/200/50"); background-position: top; background-size: cover; color: #115; float: left; font: 700 small-caps 30px "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont, sans-serif; height: 50px; line-height: 50px; margin-left: 20px; text-align: center; vertical-align: middle; width: 200px; }

.header-title { display: inline-block; float: left; line-height: 50px; margin: 0 0 0 25px; }

.header-nav-menu { background-color: #333; height: 70px; list-style-type: none; margin: 20px 0 0; overflow: hidden; padding: 0; }

.header-nav-menu li { float: right; }

.header-nav-menu li a { color: #FFF; display: block; padding: 14px 16px; text-align: center; text-decoration: none; }

.header-nav-menu li a:hover { background-color: #111; }

.header-nav-menu li a:active { background-color: black; }

.wrapper-main { left: 0; position: absolute; top: 70px; width: 100%; }

.wrapper-page { height: 1080px; margin-bottom: 0; text-align: center; width: 100%; }

.wrapper-page h2 { padding-top: 15px; }

.wrapper-page p { margin: 0 auto; padding-top: 150px; text-align: center; width: 30%; }

#dynContent { background-color: #E2E2E2; color: #333; font-size: 2em; font-weight: 700; height: 400px; margin: 10px auto; width: 50vw; }

#first_page { background-color: #F8F9F9; }

#second_page { background-color: #FF1C1C; }

#third_page { background-color: #079323; }

#fourth_page { background-color: #F2F079; }

#fifth_page { background-color: #BF79F2; }
/*# sourceMappingURL=main.css.map */