@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Lato Regular.eot');
  src: url('fonts/Lato Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Lato Regular.woff2') format('woff2'),
  url('fonts/Lato Regular.woff') format('woff'),
  url('fonts/Lato Regular.ttf') format('truetype'),
  url('fonts/Lato Regular.svg#Lato Regular') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Lato Bold.eot');
  src: url('fonts/Lato Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Lato Bold.woff2') format('woff2'),
    url('fonts/Lato Bold.woff') format('woff'),
    url('fonts/Lato Bold.ttf') format('truetype'),
    url('fonts/Lato Bold.svg#Lato Bold') format('svg');
}