@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url(fonts/Roboto%20Regular%20V2.woff2) format('woff2'),
    url(fonts/Roboto%20Regular%20V2.woff) format('woff'),
    url(fonts/Roboto%20Regular%20V2.ttf) format('truetype');
  unicode-range: u+000-5ff;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Roboto Italic'),
    local('Roboto-Italic'),
    url(fonts/Roboto%20Italic%20V2.woff2) format('woff2'),
    url(fonts/Roboto%20Italic%20V2.woff) format('woff'),
    url(fonts/Roboto%20Italic%20V2.ttf) format('truetype');
  unicode-range: u+000-5ff;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url(fonts/Roboto%20Bold%20V2.woff2) format('woff2'),
    url(fonts/Roboto%20Bold%20V2.woff) format('woff'),
    url(fonts/Roboto%20Bold%20V2.ttf) format('truetype');
  unicode-range: u+000-5ff;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Lato Regular'),
    local('Lato-Regular'),
    url(fonts/Lato%20Regular.woff2) format('woff2'),
    url(fonts/Lato%20Regular.woff) format('woff'),
    url(fonts/Lato%20Regular.ttf) format('truetype');
  unicode-range: u+000-5ff;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Lato Bold'),
    local('Lato-Bold'),
    url(fonts/Lato%20Bold.woff2) format('woff2'),
    url(fonts/Lato%20Bold.woff) format('woff'),
    url(fonts/Lato%20Bold.ttf) format('truetype');
  unicode-range: u+000-5ff;
}

html {
  font-family: serif;
  font-size: 16px;
}

body {
  font-family: Roboto, serif;
  zoom: 100%;
}

.medium { font-size: 14px; }

.small { font-size: 12px; }

.bold { font-weight: 700; }

.italic { font-style: italic; }

.lato-font { font-family: Lato, serif; }
