html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font: {
    family: sans-serif;
    size: 100%
  }
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  box-sizing: inherit;
  font: {
    family: $font-primary;
    size: 100%
  }
  line-height: 1.2;
}

div {
  box-sizing: border-box;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: .67em;
  margin-bottom: .67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: .83em;
  margin-bottom: .83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
}

p {
  color: $color-text-primary;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0
}

button,
select {
  text-transform: none
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -moz-appearance: button;
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0
}

fieldset {
  padding: .35em .75em .625em
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

img {
  border-style: none
}

textarea {
  overflow-x: auto;
  overflow-y: auto;
  vertical-align: top;
}

b,
strong {
  font-weight: bolder;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
  outline: none;
  overflow-x: hidden;
  overflow-y: hidden;
  text-indent: .01px;
  text-overflow: '';

  &::-ms-expand {
    display: none
  }

  &[multiple='multiple'] {
    @include box-shadow(inset 0 0 5px rgba(0, 0, 0, .5));
    color: inherit
  }

  &:not([multiple='multiple']) > option {
    font-size: .875em
  }
}

[hidden] {
  display: none
}
