// _helpers.scss

$rem-base: 16 !default;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1)
}

@function conv-to-rem($pixels) {
  $rem-vals: ();

  @each $val in $pixels {
    $val-in-rems: strip-unit($val) / $rem-base * 1rem;
    $rem-vals: append($rem-vals, $val-in-rems)
  }

  @if length($rem-vals) == 1 {
    @return nth($rem-vals, 1)
  } @else {
    @return $rem-vals
  }
}

@function conv-to-px($rems) {
  $px-vals: ();

  @each $val in $rems {
    $val-in-pixels: strip-unit($val) * $rem-base * 1px;
    $px-vals: append($px-vals, $val-in-pixels)
  }

  @if length($px-vals) == 1 {
    @return nth($px-vals, 1)
  } @else {
    @return $px-vals
  }
}

/// Takes a given property and a corresponding value and pairs it with a space
/// separated list of any vendor prefixes desired ("moz webkit" for "-moz- and
/// -webkit-"). If no list of prefixes is given then the webkit, -moz, -ms, and
/// -o prefixes are applied to the selector.
@mixin prefix($property, $value, $vendors: moz ms o webkit) {
  @if $vendors {
    @each $vendor in $vendors {
      #{'-' + $vendor + '-' + $property}: $value
    }
  }
  #{$property}: $value
}

/// Truncates a given field with ellipses. When given a width value as input the
/// width property is added in with the given value assigned. Otherwise, no
/// width is assigned in the mixin.
@mixin truncate($overflowVal: '', $width: 0) {
  overflow-x: hidden;
  text-overflow: $overflowVal;
  white-space: nowrap;
  @if $width != 0 and $width != '' {
    width: $width
  }
}

@mixin border-radius($radius: 5px) {
  background-clip: padding-box; // Stops bg color from leaking outside the border
  @if $radius == 'circle' {
    border-radius: 50%
  } @else {
    border-radius: $radius
  }
}

@mixin box-shadow($vars) {
  @include prefix(box-shadow, $vars, webkit)
}

@mixin box-sizing($box-model: border-box) {
  @include prefix(box-sizing, $box-model, moz)
}

// Takes a given decimal value and applies that level of opacity
@mixin opacity($opacity) {
  filter: alpha(opacity=#{$opacity * 100}); // IE8
  opacity: $opacity
}

@mixin transition($transition) {
  @include prefix(transition, $transition, webkit)
}

// Use for all transforms except for translates in short comma separated notation
@mixin transform($transformation) {
  @include prefix(transform, $transformation, ms webkit)
}

// Allows for translations in the shorter, comma separated notation
@mixin translate($translationX, $translationY) {
  -ms-transform: translateX(#{$translationX}) translateY(#{$translationY});
  -webkit-transform: translate(#{$translationX}, #{$translationY});
  transform: translate(#{$translationX}, #{$translationY})
}

@mixin animate($animationValues) {
  @include prefix(animation, $animationValues, webkit moz)
}

@mixin frames($animationName, $property, $from, $to) {
  @-webkit-keyframes #{$animationName} {
    0% {
      -webkit-#{$property}: $from
    }

    100% {
      -webkit-#{$property}: $to
    }
  }
  @keyframes #{$animationName} {
    0% {
      #{$property}: $from
    }

    100% {
      #{$property}: $to
    }
  }
}

// Appllies all the necessary flex properties, used on wrappers containing the flexed items
@mixin flex-wrapper {
  display: -webkit-box; // OLD - iOS 6-, Safari 3.1-6
  display: -ms-flexbox; // TWEENER - IE 10
  display: -webkit-flex; // NEW - Chrome
  display: flex; // NEW, Spec - Opera 12.1, Firefox 20+
}

@mixin align-items($alignment: center) {
  @include prefix(align-items, $alignment, moz ms webkit)
}

@mixin justify-content($alignment: center) {
  @include prefix(justify-content, $alignment, moz ms webkit)
}

@mixin size($width, $height: $width) {
  height: $height;
  width: $width
}

@mixin fixed-length($length, $dimension: wh) {
  @if to-lower-case(str-slice($dimension, 1, 2)) == 'wh' {
    height: $length !important;
    min-height: $length !important;
    max-height: $length !important;
    min-width: $length !important;
    max-width: $length !important;
    width: $length !important
  } @else if to-lower-case(str-slice($dimension, 1, 1)) == 'h' {
    height: $length !important;
    min-height: $length !important;
    max-height: $length !important
  } @else if to-lower-case(str-slice($dimension, 1, 1)) == 'w' {
    min-width: $length !important;
    max-width: $length !important;
    width: $length !important
  } @else {
    @error "'#{$dimension}' is not a valid value for dimension in the fixed-length mixin. CTRL+F '#{$dimension}' to fix."
  }
}

// Applies the clearfix hack to clear floats
@mixin clearfix($clearVal: both) {
  &:before,
  &:after {
    content: '';
    display: table
  }

  &:after {
    clear: $clearVal
  }

  @if $clearVal != 'both' and $clearVal != 'left' and $clearVal != 'right' {
    @error "'#{$clearVal}' is not a valid value for the clear property in the clearfix mixin. CTRL+F '#{$clearVal}' to fix."
  }
}

/// Applies a custom scrollbar to the page or to an internal element within
/// the page. If the scrollbar is not going on the top level of the page then
/// the final argument passed needs to be the 'true' boolean
@mixin scrollbar($size, $foreground-color, $background-color: mix($foreground-color, white, 50%), $isInternal: false) {
  @if $isInternal {
    & { // For IE
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;

      &::-webkit-scrollbar {
        width: $size;
        height: $size;

        &-track {
          background: $background-color
        }

        &-thumb {
          background: $foreground-color;

          &:hover {
            background: darken($foreground-color, 25%)
          }
        }
      }
    }
  } @else {
    ::-webkit-scrollbar {
      width: $size;
      height: $size;

      &-track {
        background: $background-color
      }

      &-thumb {
        background: $foreground-color;

        &:hover {
          background: darken($foreground-color, 25%)
        }
      }
    }

    body { //For IE
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color
    }
  }
}

@mixin min-width($threshold) {
  @media only screen and (min-width: $threshold) {
    @content
  }
}

@mixin max-width($threshold) {
  @media only screen and (max-width: $threshold) {
    @content
  }
}

@mixin min-to-max-width($min-threshold, $max-threshold) {
  @media only screen and (max-width: $max-threshold) and (min-width: $min-threshold) {
    @content
  }
}

@mixin moz-only {
  @-moz-document url-prefix() {
      @content
  }
}
