noscript {
  a, a:link, a:hover, a:active, a:visited {
    color: #4FA2D9;
    text-decoration: none;
  }

  p {
    color: #FFF;
    text-align: center
  }
}

.wrapper-main {
  width: 100%;
}

.loading-screen {
  background-color: rgba($darkBlue, .8);
  cursor: wait;
  height: 100%;
  left: 0;
  overflow: visible;
  padding-top: 23vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;

  &__display-area {
    background: rgba(#111, .7);
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100;
  }

  &__msg {
    color: $white;
    font: {
      family: $latoFamily;
      size: 20px;
      variant: small-caps;
      weight: 400;
    }
    text-align: center;
  }

  &__spinner {
    @include animate(colorSpinner 2s linear infinite);
    @include size(120px);
    // TruTrade Colors
    border-top: 16px solid $darkBlue;
    border-right: 16px solid $yellow;
    border-bottom: 16px solid $blue;
    border-left: 16px solid $red;
    /** PinPoint Colors
    border-top: 16px solid $darkRed;
    border-right: 16px solid $yellow;
    border-bottom: 16px solid $red;
    border-left: 16px solid $green;
    **/
    border-radius: 50%;
    margin: 0 auto;
  }
}

@include frames(colorSpinner, transform, rotate(0), rotate(360deg));
