$color-dark-gray: #333;
$color-off-black: #111;
$color-blue: #8486FF;
$color-red: #FF1C1C;
$color-light-red: #FF6B6B;
$color-green: #079323;
$color-yellow: #F2F079;
$color-purple: #BF79F2;

$color-text-primary: #111;
$font-primary:  'Roboto',
                'Helvetica Neue',
                HelveticaNeue,
                Helvetica-Neue,
                Helvetica,
                -apple-system,
                BlinkMacSystemFont,
                BBAlpha Sans,
                'Segoe UI',
                Arial,
                'Noto Sans',
                sans-serif;
$font-headings: 'Lato',
                Verdana,
                Geneva,
                -apple-system,
                BlinkMacSystemFont,
                sans-serif;

// PinPoint Color Variables
$black      : #000;
$offBlack   : #414042;
$gray       : #6D6E71;
$lightGray  : #A7A9AC;
$darkRed    : #A11D27;
$red        : #D51F27;
$offWhite   : #F1F2F2;
$white      : #FFF;

// Expaded color palette variables - use sparingly
$yellow     : #F7C01C;
$lightYellow: #FCE6A3;
$green      : #58B86B;
$darkBlue   : #2A3C68;
$blue       : #4FA2D9;
$lightBlue  : #8ED8F8;
$paleBlue   : #D8EFF5;
$offBlue    : #DEF3FD;
$tan        : #CEB7A3;
$pink       : #F1DDDF;
$lightGreen : #DDF1E1;
$lightTan   : #ECD8C0;
$offWhiteAlt: #F8F9F9;
$offWhiteUXE: #FBF4EC;
$shadow     : #D4D0C8;
$silver     : #BCBEC0;
$lightSilver: #DEE2E6;
$dash-btn-bg: #C4C6C8;
$purple     : #5D3B97;
