@import 'variables';
@import 'helpers';
@import 'reset';
@import 'base';

.header {
  @include clearfix;
  background-color: $color-dark-gray;
  color: $color-light-red;
  left: 0;
  position: fixed;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 99;

  &-logo {
    background-image: linear-gradient(to right bottom, rgba(#000, .5), rgba(#999, .5)), url('https://picsum.photos/200/50');
    background-position: top;
    background-size: cover;
    color: #115;
    float: left;
    font: 700 small-caps 30px $font-headings;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
  }

  &-title {
    display: inline-block;
    float: left;
    line-height: 50px;
    margin: 0 0 0 25px;
  }

  &-nav-menu {
    background-color: $color-dark-gray;
    height: 70px;
    list-style-type: none;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 0;

    li {
      float: right;

      a {
        color: $white;
        display: block;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;

        &:hover {
          background-color: $color-off-black;
        }

        &:active {
          background-color: darken($color-off-black, 20%);
        }
      }
    }
  }
}

.wrapper {
  &-main {
    left: 0;
    position: absolute;
    top: 70px;
    width: 100%;
  }

  &-page {
    height: 1080px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;

    h2 {
      padding-top: 15px;
    }

    p {
      margin: 0 auto;
      padding-top: 150px;
      text-align: center;
      width: 30%;
    }
  }
}

#dynContent {
  background-color: #E2E2E2;
  color: #333;
  font: {
    size: 2em;
    weight: 700;
  }
  height: 400px;
  margin: 10px auto;
  width: 50vw;
  display: none;
}

#first_page {
  background-color: #F8F9F9
}

#second_page {
  background-color: $color-red
}

#third_page {
  background-color: $color-green
}

#fourth_page {
  background-color: $color-yellow
}

#fifth_page {
  background-color: $color-purple
}
