@import 'variables';
@import 'helpers';
@import 'reset';
@import 'base';

.header {
  @include clearfix;
  background-color: $color-dark-gray;
  color: $color-light-red;
  left: 0;
  position: fixed;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 99;

  &-logo {
    background-image: linear-gradient(to right bottom, rgba(#000, .5), rgba(#999, .5)), url('https://picsum.photos/200/50');
    background-position: top;
    background-size: cover;
    color: #115;
    float: left;
    font: {
      family: $font-headings;
      size: 30px;
      variant: small-caps;
      weight: 700;
    }
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
  }

  &-title {
    display: inline-block;
    margin: 0 0 0 25px;
    float: left;
    line-height: 50px;
  }

  &-nav-menu {
    background-color: $color-dark-gray;
    height: 70px;
    list-style-type: none;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 0;

    li {
      float: right;

      a {
        color: white;
        display: block;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;

        &:hover {
          background-color: $color-off-black;
        }

        &:active {
          background-color: darken($color-off-black, 20%);
        }
      }
    }
  }
}

.wrapper {
  &-main {
    left: 0;
    position: absolute;
    top: 70px;
    width: 100%;
  }

  &-page {
    height: 1080px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;

    h2 {
      padding-top: 15px;
    }

    p {
      padding-top: 150px;
      text-align: center;
      width: 30%;
      margin: 0 auto;
    }
  }
}

.spinning-logo {
  @include animate(logoSpinner .5s linear infinite);
  position: fixed;
  margin-left: 45%;

  &-wrap {
    margin: 0 auto;
    width: 100%;
  }
}

noscript {
  a, a:link, a:hover, a:active, a:visited {
    color: #8ED8F8;
    text-decoration: none;
  }

  p {
    color: #FFF;
    text-align: center
  }
}

.loading-screen {
  background-color: rgba(#2A3C68, .8);
  cursor: wait;
  height: 100%;
  left: 0;
  overflow: visible;
  padding-top: 23vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;

  &__display-area {
    background: rgba(#111, .7);
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100;
  }

  &__msg {
    color: #4FA2D9;
    font: {
      family: $font-headings;
      size: 20px;
      variant: small-caps;
      weight: 400;
    }
    text-align: center;
  }

  &__spinner {
    @include animate(colorSpinner 2s linear infinite);
    @include border-radius(circle);
    @include size(120px);
    // TruTrade Colors
    border-top: 16px solid #2A3C68;
    border-right: 16px solid #F7C01C;
    border-bottom: 16px solid #4FA2D9;
    border-left: 16px solid #D43045;
    margin: 0 auto;
  }
}

#first_page {
  background-color: #F8F9F9;
}

#second_page {
  background-color: $color-red;
}

#third_page {
  background-color: $color-green;
}

#fourth_page {
  background-color: $color-yellow;
}

#fifth_page {
  background-color: $color-purple;
}

@include frames(logoSpinner, transform, rotateY(0), rotateY(-1turn));
@include frames(colorSpinner, transform, rotate(0), rotate(360deg));
